{% if debug %}
<div class="alert alert-info" role="alert">
  <h1>Insticator ad vertical</h1>
</div>
{% else %}
<!-- Header Tag Code -->
<script data-cfasync='false' type='text/javascript'>/*<![CDATA[*/(function(a,c){"Insticator"in a||(a.Insticator={ad:{},helper:{},client:{sid:"9d61f45f-e8e3-4ccb-8d68-0fd7b07098b8"},version:"1.0"},a.Insticator.ad.loadAd=function(b){a.Insticator.ad.q.push(b)},a.Insticator.ad.q=[]);var b=c.createElement("script"),cof=1000*60*10,cbt=new Date(Math.floor(new Date().getTime()/cof)*cof).getTime();b.src="//embed.insticator.com/advertisements/getheadertagforsite?id="+a.Insticator.client.sid+"&cbt="+cbt;b.async=!0;var d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)})(window,document);/*]]>*/</script>
<!-- End Header Tag Code -->
<!-- Insticator API Embed Code -->
<div id="insticator-container">
  <link rel="stylesheet" href="https://embed.insticator.com/embedstylesettings/getembedstyle?embedUUID=1a7e86b6-211c-4cde-b556-fded4f6d2755">
  <div id="div-insticator-ad-1">
    <script type="text/javascript">Insticator.ad.loadAd("div-insticator-ad-1");</script>
  </div>
  <div id="insticator-embed">
    <div id='insticator-api-iframe-div'>
      <script data-cfasync='false' type="text/javascript">/*<![CDATA[*/(function (d) {var id='1a7e86b6-211c-4cde-b556-fded4f6d2755',cof = 1000 * 60 * 10,cbt = new Date(Math.floor(new Date().getTime() / cof) * cof).getTime(),js = 'https://embed.insticator.com/assets/javascripts/embed/insticator-api.js?cbt='+cbt, f = d.getElementById("insticator-api-iframe-div").appendChild(d.createElement('iframe')),doc = f.contentWindow.document;f.setAttribute("id","insticatorIframe"); f.setAttribute("frameborder","0"); doc.open().write('<script>var insticator_embedUUID = \''+id+'\'; var insticatorAsync = true;<\/script><body onload="var d = document;d.getElementsByTagName(\'head\')[0].appendChild(d.createElement(\'script\')).src=\'' + js + '\'" >');doc.close(); })(document);/*]]>*/</script><noscript><a href="https://embed.insticator.com">Please enable JavaScript.</a></noscript></div>
    </div>
    <div id="div-insticator-ad-2">
      <script type="text/javascript">Insticator.ad.loadAd("div-insticator-ad-2");</script>
    </div>
</div>
<!-- End Insticator API Embed Code -->
{% endif %}
