{% extends 'base.html' %}

{% block title %}{{ material.name }} | {{ block.super }}{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>{{ material.name }}</h1>
</div></div>

<div class="row">

    <div class="col-xs-12 col-sm-5">
        <p class="text-center"><a href="#" type="button" data-toggle="modal" data-target="#modalPreview">
            <img class="img-responsive" src="{{ material.thumb_medium.url }}" alt="{{ material.name }}" />
        </a></p>
    </div>

    <div class="col-xs-12 col-sm-7">
        <div class="row">
            <div class="col-xs-4">
                <p class="text-center">
                    <a class=" btn btn-success btn-block btn-download" href="{{ material.get_download_url }}">
                        <span class="glyphicon glyphicon-download download-icon"></span>
                        <br/>
                        <span class="download-caption">DOWNLOAD</span>
                    </a>
                </p>
                {{ favorited_users }}
                {% if user.is_authenticated and user.pk in material.favorited_users %}
                    <p class="text-center">
                        <a class="btn btn-warning btn-block btn-download" href="{% url 'favorites:list' %}">
                            <span class="glyphicon glyphicon-star download-icon"></span>
                            <br/>
                            <span class="download-caption">FAVORITED</span>
                        </a>
                    </p>
                {% else %}
                    <p class="text-center">
                        <a class="btn btn-default btn-block btn-download" href="{% url 'favorites:add' material.pk material.slug %}">
                            <span class="glyphicon glyphicon-star-empty download-icon"></span>
                            <br/>
                            <span class="download-caption">FAVORITE</span>
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="col-xs-8">
                {% load materials_tags %}
                <div class="text-center rating rating-header">Rating - {% stars material %}</div>
                <div class="text-center rating rating-score">{{ material.rating }}</div>
                <div class="text-center rating rating-votes">Votes: {{ material.votes_count }}</div>
                {% if user.is_authenticated %}
                    {% if user.pk in material.voted_users %}
                        <p class="text-center">You voted already</p>
                    {% else %}
                        <div class="text-center"><ul class="pagination pagination-sm">
                            <li class="active"><a>Vote: </a></li>
                            <li><a href="{% url 'materials:vote' material.pk material.slug 1 %}">1</a></li>
                            <li><a href="{% url 'materials:vote' material.pk material.slug 2 %}">2</a></li>
                            <li><a href="{% url 'materials:vote' material.pk material.slug 3 %}">3</a></li>
                            <li><a href="{% url 'materials:vote' material.pk material.slug 4 %}">4</a></li>
                            <li><a href="{% url 'materials:vote' material.pk material.slug 5 %}">5</a></li>
                        </ul></div>
                    {% endif %}
                {% else %}
                    <p class="text-center"><a href="{% url 'login' %}" class="label label-default">Login to vote</a></p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-group text-center">
                    <li class="list-group-item"><strong>Engine</strong></li>
                    <li class="list-group-item">{{ material.get_engine_display }}</li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-group text-center">
                    <li class="list-group-item default"><strong>Category</strong></li>
                    <li class="list-group-item">{{ material.category }}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <ul class="list-group text-center">
                    <li class="list-group-item default"><strong>Added</strong></li>
                    <li class="list-group-item">{{ material.date|date:"d b Y" }}</li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-group text-center">
                    <li class="list-group-item default"><strong>Downloads</strong></li>
                    <li class="list-group-item">{{ material.downloads }}</li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="list-group text-center">
                    <li class="list-group-item default"><strong>Author</strong></li>
                    <li class="list-group-item"><a href="{{ material.user.profile.get_absolute_url }}">{{ material.user.username }}</a></li>
                </ul>
            </div>
        </div>
        <div class="row"><div class="col-xs-12">
            <div class="panel panel-default"><div class="panel-body">
                {% include 'materials/buttons.html' %}
            </div></div>
        </div></div>
    </div>

</div>

<div class="row"><div class="col-xs-12">
    <div class="panel panel-default"><div class="panel-body">
        {{ material.description|safe }}
    </div></div>
</div></div>

<hr/>

<div class="row"><div class="col-xs-12">
  {% include 'ads/adsense.html' %}
</div></div>

<hr/>

<div class="row"><div class="col-xs-12">
    <h2>Comments</h2>
    {% if not debug %}{% include "materials/comments.html" %}{% else %}<p>Comments block by Disqus</p>{% endif %}
</div></div>

<!-- Modal -->
<div class="modal fade" id="modalPreview" tabindex="-1" role="dialog" aria-labelledby="modalPreviewLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalPreviewLabel">{{ material.name }}</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="{{ material.thumb_big.url }}" alt="{{ material.name }}" />
      </div>
      <div class="modal-footer">
        <a id="modalDownload" class=" btn btn-success" href="{{ material.get_download_url }}">
          <span class="glyphicon glyphicon-download download-icon"></span> <span class="download-caption">Download</span>
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
