{% extends 'favorites/base.html' %}

{% block title %}Favorites | {{ block.super }}{% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>{{ user.username }}'s favorites</h1>
	<p>Get API key to see favorites inside addon <a href="/account/home">here</a>.</p>
</div></div>

<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
  {% for fav in object_list %}
    <div class="media">
      <div class="media-left">
        <a href="{{ fav.material.get_absolute_url }}">
          <img class="media-object" src="{{ fav.material.thumb_small.url }}" alt="{{ fav.material.name }}" width="96" height="96">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ fav.material.get_absolute_url }}">{{ fav.material.name }}</a></h4>
        <p>{{ fav.material.category }}</p>
      </div>
      <div class="media-right">
        <p><a class="btn btn-danger" href="{% url 'favorites:remove' fav.material.pk fav.material.slug %}">REMOVE</a></p>
      </div>
    </div>
  {% endfor %}
</div></div>
{% endblock %}
