/**
 * materials.css
 * CSS library for 'materials' application
 */


/**
 * Rules for rating panel
 */
.rating {
    font-weight: bold;
    line-height: 1.2;
}
.rating-header {
    font-size: 1.3em;
}
.rating-score {
    font-size: 4em;
}
.rating-votes {
    font-size: 1.1em;
}


/**
 * Rules for download panel
 */
 .download a {
     color: rgb(0, 0, 0);
 }
.download-icon {
    font-size:600%;
    line-height: 1.4;
}
.download-caption {
    font-size:150%;
    line-height: 1.2;
}