{% extends 'base.html' %}

{% block title %}Info - {{ user.username }}'s account - {% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>Info <span class="pull-right">{{ user.username }}'s account</span></h1>
</div></div>

<div class="row">
    <ul class="nav nav-pills nav-justified">
        <li><a href="{% url 'account_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="{% url 'account_materials' %}"><span class="glyphicon glyphicon-record"></span> Materials</a></li>
        <li><a href="{% url 'account_uploads' %}"><span class="glyphicon glyphicon-upload"></span> Uploads</a></li>
        <li class="active"><a href="{% url 'account_statistics' %}"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
        <li><a href="{% url 'account_settings' %}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
    </ul>
</div>

<hr/>

<div class="row">
</div>
{% endblock %}
