{% extends 'base.html' %}

{% block title %}Materials | Account | {{ block.super }}{% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>Materials <span class="pull-right">{{ user.username }}'s account</span></h1>
</div></div>

<div class="row">
    <ul class="nav nav-pills nav-justified">
        <li><a href="{% url 'account_home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active"><a href="{% url 'account_materials' %}"><span class="glyphicon glyphicon-record"></span> Materials</a></li>
        <li><a href="{% url 'account_uploads' %}"><span class="glyphicon glyphicon-upload"></span> Uploads</a></li>
        <li><a href="{% url 'account_statistics' %}"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
        <li><a href="{% url 'account_settings' %}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
    </ul>
</div>

<hr/>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Engine</th>
                    <th>Downloads</th>
                    <th></th>
                </tr>
                {% for obj in user.materials.published %}
                <tr class="{{ obj.get_css_class }}">
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.category }}</td>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.get_engine_display }}</td>
                    <td>{{ obj.downloads }}</td>
                    <td><a class="btn btn-default btn-sm btn-block" href="{{ obj.get_absolute_url }}"><span class="glyphicon glyphicon-search"></span> Open</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
