{% extends 'base.html' %}

{% block title %}Confirm password reset | {{ block.super }}{% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>Confirm new password</h1>
</div></div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <p>Enter your new password below to reset your password:</p>

        <form method="post" action="">

            {% csrf_token %}

            {% for field in form %}
            <div class="form-group{% if field.errors %} error {% endif %}">
                {{ field.label_tag }}
                {% if field.errors %}
			     <span class="help-inline text-danger">
				     {% for error in  field.errors %}{{ error }}{% endfor %}
                 </span>
                {% endif %}
                {{ field.as_widget }}
            </div>
            {% endfor %}

            <div class="form-group">
                <input type="submit" class="btn btn-default btn-primary" value="Set password" />
            </div>

        </form>

    </div>
</div>
{% endblock %}
