{% extends 'base.html' %}

{% block title %}Addon | {{ block.super }}{% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>Blendermada client add-on for Blender</h1>
</div></div>

<div class="row"><div class="col-xs-12">
    <div class="panel panel-warning">
        <div class="panel-heading"><strong>Development version</strong></div>
        <div class="panel-body text-center">
            <p><a href="/static/releases/dev/blendermada.py" class="btn btn-primary btn-lg">Version 0.9.8-b - Download now</a></p>
            <p><a href="{% url 'addon_changelog' %}">Changelog</a></p>
        </div>
        <div class="panel-footer">
            <p><strong>Caution, this is beta version</strong></p>
        </div>
    </div>
</div></div>

<div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h3>How to use:</h3>
    <ol>
        <li>Install it like typical add-on for Blender (<a href="https://www.blender.org/manual/advanced/scripting/python/addons.html">here is a link</a>)</li>
        <li>Turn on the add-on</li>
        <li>Find add-on panel at Properties window inside Materials tab</li>
        <li>Press Update button to connect to server</li>
        <li>To enable/disable preview just press preview button. When preview is active, you can drag it with middle mouse button</li>
        <li>Select material and press Import</li>
    </ol>
    <br/>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/259FnKP_3nM" frameborder="0" allowfullscreen></iframe>
    </div>
    <hr/>
    <p>Client is still under active development.
        If you find a bug, of have another issue, you can find this project
        on <a href="https://github.com/TrueCryer/blendermada_client">GitHub</a> or
        write me directly - <a href="mailto:ozzyrov@gmail.com">ozzyrov@gmail.com</a></p>
    <hr/>
</div></div>
{% endblock %}
