{% extends 'base.html' %}

{% block title %}Changelog | {{ block.super }}{% endblock %}

{% block content %}
<div class="row"><div class="page-header">
    <h1>Changelog for Blendermada addon</h1>
</div></div>

<div class="row"><div class="col-xs-12">
        
    <h4>0.9.0 to 0.9.1</h4>
    <ul>
        <li>Added favorites functionality. Now you can get API key, place it in
        settings and see materials, marked as your favorites in separate
        category</li>
    </ul>
    
    <h4>0.3.0 to 0.9.0</h4>
    <ul>
        <li>Improved description field.</li>
        <li>Added icons for better UI.</li>
        <li>Fixed trouble with importin material to object without slots.</li>
    </ul>
    
    <h4>0.2.2 to 0.3.0</h4>
    <ul>
        <li>Rearranged widgets to make more compact view.</li>
        <li>Added setting to switch between big and small preview.</li>
        <li>Added setting to change cache path. Change it if you have problems
        with preview/import.</li>
    </ul>
    
    <h4>0.2.1 to 0.2.2</h4>
    <ul>
        <li>Fixed Blender 2.76 import path issue.</li>
    </ul>
    
    <h4>0.1.3 to 0.2.1</h4>
    <ul>
        <li>Added material preview</li>
    </ul>
    
    <h4>0.1.2 to 0.1.3</h4>
    <ul>
        <li>Change server API. For now client shows only materials for active
        render engine</li>
    </ul>
    
    <h4>0.1.1 to 0.1.2</h4>
    <ul>
        <li>Added support of Blender 2.72 new append method</li>
    </ul>

    <h4>0.1.0 to 0.1.1</h4>
    <ul>
        <li>Duplication control. If a material with name like imported already
        exists, importing canceled.</li>
        <li>Imported material replaces material in active slot.</li>
    </ul>
    
    <p>Client is still under active development. If you find a bug, of have
       another issue, you can find this project on
       <a href="https://github.com/TrueCryer/blendermada_client">GitHub</a> or
    write me directly - <a href="mailto:ozzyrov@gmail.com">ozzyrov@gmail.com</a>
    </p>

</div></div>

{% endblock %}