<footer class="footer subfooter"><div class="container">
    <div class="col-xs-12 col-sm-4">
        <h3>Learn</h3>
        <p><a href="/">Home</a></p>
        <p><a href="/about/">About</a></p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Get</h3>
        <p><a href="/materials/">Browse materials</a></p>
        <p><a href="/addon/">Download plugin</a></p>
        <p><a href="/uploads/stuff/">Use rendering stuff</a></p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Join</h3>
        <p><a href="/account/register/">Register</a></p>
        <p><a href="/uploads/upload/">Upload new material</a></p>
        <p><a href="https://github.com/TrueCryer">Find us on GitHub</a></p>
    </div>
    <div class="col-xs-12" style="text-align:center">
        <h1><em>ENJOY</em></h1>
    </div>
</div></footer>
<footer class="footer"><div class="container">
    <div class="col-xs-12 text-center">
        <p>© 2014 - {% now "Y" %}, Sergey Ozerov, &lt;ozzyrov@gmail.com&gt;. All rights reserved.
           Content is released under <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 license</a>.</p>
        <p>Made with <a href="http://djangoproject.com" target="_blank">Django</a> and <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a>, theme <a href="http://bootswatch.com/flatly/" target="_blank">Flatly</a></p>
        <p>Hosted on <a href="http://fullspace.ru" target="_blank">fullspace.ru</a></p>
    </div>
</div></footer>
